html {
    background: rgb(41 42 54);
  }
  
  #main-doc {
    margin-left: 275px;
    max-width: 700px;
  }
  
  * {
    color: rgb(230 232 251);
    font-family: noto-sans, sans-serif;
    font-style: normal;
    font-weight: 100;
    box-sizing: border-box;

    /*border: 1px solid orange; */
  }
  
 header {
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: white;
  }

  .main-section {
    margin-bottom: 75px;
  }
  
  #navbar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: rgb(88 185 158);
    background: rgb(41 42 54);
    margin-top: 0;
    
  }

  .nav-link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 20;
    display: block;
    transition: 0.3s;
    border-style: none;
    position: relative;
    top: 25px;
  }
  
  .nav-link:first-of-type {
    margin-top: 0;
  }
  
  a:hover {
   background: rgb(41 42 54);
   color: orange;
  }
  
  #title {
    margin-bottom: 50px;
  }
  
  h2 {
    font-size: 20px;
    text-indent: 25px;
    margin-top: 25px;
    border-style: solid;
    border-width: 0 0 1px 0;
    margin-right: 400px;
    }

#media-button {
    width: 80px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

#library-button {
    width: 60px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.main-section, p {
    font-size: 16px;
  }

img {
    width: 700px;
    height: auto;
}

#add-new-button, #second-edit-image, #visit-site-button, #url-to-clipboard {
    width: 80px;
    height: 30px;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

#home-button, #gear-icon, #green-check {
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

#toolbar {
   height: 26px; 
}

#unfinished-awards {
    height: auto;
}

#finished-code {
    height: 15px;
}

#exit-visual-builder {
    height: auto;
    width: auto;
}

#url-to-clipboard {
    width: auto;
}

#part-1 {
    margin-bottom: -20px;
}

#editing-an-image {
    margin-bottom: -20px;
}

#wordpress-builder {
    margin-top: 90px;
}

p {
  letter-spacing: 0.5px;
}

 .social-icons {
  padding: 10px 2px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

.matt-marion {
  font-size: 40px;
  font-weight: 125;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color:rgb(88 185 158);
}

.text-header {
  font-size: 25px;
  padding-top: 0;
  margin-top: 45px;
  position: absolute;
  left: 85px;
}

#top-nav {
  width: 100%;
  height: 100%;
  padding: 0;
  border-style: solid;
  border-width: 0;
  background: rgb(41 42 54);
  position: absolute;
  
}

.technical-writer {
  position: absolute;
  width: auto;
}

#top-nav-bar {
  height: 160px;
  width: 100%;
  position: fixed;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(88 185 158);
  background: rgb(41 42 54);
  left: 200px;
  margin: 0;
  padding: 0 0 2px 0;
  top:-20px;
  z-index: 1;
}

.email-address {
  font-size: 22px;
}

.phone-number {
  font-size: 20px;
  position: absolute;
  right: -10px;
  bottom: 1px;
}